.boost
    &-container
        &__title
            font-size: 50px
            line-height: 60px
            text-align: center

.elems

    &-elem
        
        width: 33%
        &__title
            margin-top: 49px
            margin-bottom: 34px
            font-size: 30px
            line-height: 40px
        &__subtitle
            font-size: 20px
            line-height: 30px
        &__link
            display: flex
            margin-top: 25px
            color: black
            text-decoration: underline black
            // если при подключении шрифта будет некрасиво, то можно увеличить увеличить отступ у линии
            // text-decoration-line: none
            // border-bottom: 1px black solid