.header
    margin-top: 34px
    display: flex
    justify-content: space-between
    &-container
        &__text
            padding-right: 47px
    &-button
        &__login
            border-radius: 0 !important
            width: 120px
            height: 45px
            margin-left: 230px
            margin-right: 10px
            border-radius: 2px
            border-color: #000000
        &__tryitfree
            width: 120px
            height: 45px
            color: #ffffff
            background-color: #FF6336 
.logo
    margin-right: 30px